/***** contact form *****/
#contact-form {
	position:relative;
	vertical-align:top;
	width:100%;
	z-index:1;
}
	#contact-form fieldset {border:none; padding:0; width:100%; overflow:hidden;}
		#contact-form label {display:block; min-height:46px; position:relative;}
			#contact-form .message{min-height:293px;}
			#contact-form input, #contact-form textarea {
				padding:10px 11px;
				margin:0;
				font: italic 11px "Trebuchet MS", Arial, Helvetica, sans-serif;
				color:#fff;
				text-transform:uppercase;
				background: #daac01;
				outline:none;
				border:none;
				width:325px;
			}
			#contact-form .area .error {float:none;}
			#contact-form textarea {
				width:518px;
				height:246px;
				resize:none;
				overflow:auto;
			}
			#contact-form .success {display:none; margin-bottom:15px;}
			#contact-form .error,
			#contact-form .empty {
				color:#fff;
				font-weight:bold;
				font-size:11px;
				line-height:14px;
				display:none;
				overflow:hidden;
				margin-bottom:5px;
			}
.buttons-wrapper{text-align:right; position:relative; padding-right:1px;}
.buttons-wrapper a {cursor:pointer;}
	.buttons-wrapper a[data-type="reset"]{margin-right:17px;}

@media only screen and (max-width: 995px) {
	#contact-form input{width:250px;}
	#contact-form textarea{width:406px;}
}
@media only screen and (max-width: 767px){
	#contact-form textarea{width:398px;}
}
@media only screen and (max-width: 479px){
	#contact-form input, #contact-form textarea{width:272px;}
}